Options -Indexes

RewriteEngine On

#TEMPORARILY SAVE SESSION VARIABLES - SERVER
#php_flag output_buffering on

#LOGIN
RewriteRule ^$ %{ENV:REWRITEBASE}index.php?show=Index [L]
RewriteRule ^(login/|login|Login|LOGIN)$ %{ENV:REWRITEBASE}index.php?show=login [L]
RewriteRule ^(login/|login|Login|LOGIN)/ajaxLogin/$ %{ENV:REWRITEBASE}index.php?show=Login&action=ajaxLogin [L]

#RESET PASSWORD
RewriteRule ^(login/|login|Login|LOGIN)/ajaxEmailSend/$ %{ENV:REWRITEBASE}index.php?show=Login&action=ajaxEmailSend [L]
RewriteRule ^resetPassword/([a-zA-Z0-9]+)$ %{ENV:REWRITEBASE}index.php?show=ResetPassword&token=$1 [L]
RewriteRule ^resetPassword/updatePassword/$ %{ENV:REWRITEBASE}index.php?show=ResetPassword&action=updatePassword [L]

#LOGOUT USER
RewriteRule ^logout$ %{ENV:REWRITEBASE}index.php?show=logout [L]

#PAGES-ADMIN
RewriteRule ^(dashboard/|dashboard|Dashboard)$ %{ENV:REWRITEBASE}index.php?show=dashboard [L]

RewriteRule ^(roles/|roles|Roles)$ %{ENV:REWRITEBASE}index.php?show=roles [L]
RewriteRule ^(roles/|roles|Roles)/setRol/$ %{ENV:REWRITEBASE}index.php?show=roles&action=setRol [L]
RewriteRule ^(roles/|roles|Roles)/getRol/$ %{ENV:REWRITEBASE}index.php?show=roles&action=getRol [L]
RewriteRule ^(roles/|roles|Roles)/delRol/$ %{ENV:REWRITEBASE}index.php?show=roles&action=delRol [L]
RewriteRule ^permissions/getPermissions/$ %{ENV:REWRITEBASE}index.php?show=permissions&action=getPermissions [L]
RewriteRule ^permissions/setPermissions/$ %{ENV:REWRITEBASE}index.php?show=permissions&action=setPermissions [L]

RewriteRule ^(users/|users|Users)$ %{ENV:REWRITEBASE}index.php?show=users [L]
#RewriteRule ^(users/|users|Users)/getUsers/$ %{ENV:REWRITEBASE}index.php?show=Users&action=getUsers [L]
RewriteRule ^(users/|users|Users)/setRol/$ %{ENV:REWRITEBASE}index.php?show=Users&action=setUser [L]







#EXAMPLES
#RewriteRule ^(resetPassword)/ajaxSetPass$ %{ENV:REWRITEBASE}index.php?show=ResetPassword [L]
#RewriteRule ^resetPassword$ %{ENV:REWRITEBASE}index.php?show=ResetPassword [QSA,L]
#BASE_URL.'resetPassword?email='.$resetEmail.'&token='.$token;up;