Options -Indexes

RewriteEngine On

#REDIRECT http to https
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

#TEMPORARILY SAVE SESSION VARIABLES - SERVER
#php_flag output_buffering on

ErrorDocument 404 "Lo siento, la página que estás buscando no existe."

RewriteRule ^$ %{ENV:REWRITEBASE}index.php?show=Index [L]
#RewriteRule ^index/loadMore/$ %{ENV:REWRITEBASE}index.php?show=Index&action=loadMore [L]

#LOGIN
RewriteRule ^(login/|login|Login|LOGIN)$ %{ENV:REWRITEBASE}index.php?show=login [L]
RewriteRule ^(login/|login|Login|LOGIN)/ajaxLogin/$ %{ENV:REWRITEBASE}index.php?show=Login&action=ajaxLogin [L]

#RESET PASSWORD
RewriteRule ^(login/|login|Login|LOGIN)/ajaxEmailSend/$ %{ENV:REWRITEBASE}index.php?show=Login&action=ajaxEmailSend [L]
RewriteRule ^resetPassword/([a-zA-Z0-9]+)$ %{ENV:REWRITEBASE}index.php?show=ResetPassword&token=$1 [L]
RewriteRule ^resetPassword/updatePassword/$ %{ENV:REWRITEBASE}index.php?show=ResetPassword&action=updatePassword [L]

#LOGOUT USER
RewriteRule ^logout$ %{ENV:REWRITEBASE}index.php?show=logout [L]

#PAGES-ADMIN
RewriteRule ^(dashboard/|dashboard|Dashboard)$ %{ENV:REWRITEBASE}index.php?show=dashboard [L]

RewriteRule ^(roles/|roles|Roles)$ %{ENV:REWRITEBASE}index.php?show=roles [L]
RewriteRule ^(roles/|roles|Roles)/setRol/$ %{ENV:REWRITEBASE}index.php?show=roles&action=setRol [L]
RewriteRule ^(roles/|roles|Roles)/getRol/$ %{ENV:REWRITEBASE}index.php?show=roles&action=getRol [L]
RewriteRule ^(roles/|roles|Roles)/delRol/$ %{ENV:REWRITEBASE}index.php?show=roles&action=delRol [L]
RewriteRule ^permissions/getPermissions/$ %{ENV:REWRITEBASE}index.php?show=permissions&action=getPermissions [L]
RewriteRule ^permissions/setPermissions/$ %{ENV:REWRITEBASE}index.php?show=permissions&action=setPermissions [L]

RewriteRule ^(users/|users|Users)$ %{ENV:REWRITEBASE}index.php?show=users [L]
RewriteRule ^(users/|users|Users)/setUser/$ %{ENV:REWRITEBASE}index.php?show=users&action=setUser [L]
RewriteRule ^(users/|users|Users)/getUser/$ %{ENV:REWRITEBASE}index.php?show=users&action=getUser [L]
RewriteRule ^(users/|users|Users)/delUser/$ %{ENV:REWRITEBASE}index.php?show=users&action=delUser [L]

RewriteRule ^(categories/|categories|Categories)$ %{ENV:REWRITEBASE}index.php?show=categories [L]
RewriteRule ^(categories/|categories|Categories)/listCategories/$ %{ENV:REWRITEBASE}index.php?show=categories&action=listCategories [L]
RewriteRule ^(categories/|categories|Categories)/setCategory/$ %{ENV:REWRITEBASE}index.php?show=categories&action=setCategory [L]
RewriteRule ^(categories/|categories|Categories)/getCategory/$ %{ENV:REWRITEBASE}index.php?show=categories&action=getCategory [L]
RewriteRule ^(categories/|categories|Categories)/delCategory/$ %{ENV:REWRITEBASE}index.php?show=categories&action=delCategory [L]

RewriteRule ^(products/|products|Products)$ %{ENV:REWRITEBASE}index.php?show=products [L]
RewriteRule ^(products/|products|Products)/setProduct/$ %{ENV:REWRITEBASE}index.php?show=products&action=setProduct [L]
RewriteRule ^(products/|products|Products)/getProduct/$ %{ENV:REWRITEBASE}index.php?show=products&action=getProduct [L]
RewriteRule ^(products/|products|Products)/setImage/$ %{ENV:REWRITEBASE}index.php?show=products&action=setImage [L]
RewriteRule ^(products/|products|Products)/delFile/$ %{ENV:REWRITEBASE}index.php?show=products&action=delFile [L]
RewriteRule ^(products/|products|Products)/delProduct/$ %{ENV:REWRITEBASE}index.php?show=products&action=delProduct [L]

#PAGES-STORE
RewriteRule ^(test/|test|Test|TEST)$ %{ENV:REWRITEBASE}index.php?show=test [L]

#RewriteRule ^(categoria/|categoria)$ %{ENV:REWRITEBASE}index.php?show=categoria [L]
RewriteRule ^categoria/loadProducts/$ %{ENV:REWRITEBASE}index.php?show=categoria&action=loadProducts [L]
RewriteRule ^categoria/loadMoreProducts/$ %{ENV:REWRITEBASE}index.php?show=categoria&action=loadMoreProducts [L]
RewriteRule ^categoria/orderProducts/$ %{ENV:REWRITEBASE}index.php?show=categoria&action=orderProducts [L]
RewriteRule ^categoria/(.+)$ %{ENV:REWRITEBASE}index.php?show=categoria&cat_path=$1 [L]



#EXAMPLES
#RewriteRule ^(resetPassword)/ajaxSetPass$ %{ENV:REWRITEBASE}index.php?show=ResetPassword [L]
#RewriteRule ^resetPassword$ %{ENV:REWRITEBASE}index.php?show=ResetPassword [QSA,L]
#BASE_URL.'resetPassword?email='.$resetEmail.'&token='.$token;up;

#RewriteRule ^categoria/(.+)$ %{ENV:REWRITEBASE}index.php?show=categoria&urlCategories=$1 [L,QSA]


#RewriteRule ^categoria/([^/]+)/?$ %{ENV:REWRITEBASE}index.php?show=categoria&category1=$1 [L]
#RewriteRule ^categoria/([^/]+)/([^/]+)/?$ %{ENV:REWRITEBASE}index.php?show=categoria&category1=$1&category2=$2 [L]
#RewriteRule ^categoria/([^/]+)/([^/]+)/([^/]+)/?$ %{ENV:REWRITEBASE}index.php?show=categoria&category1=$1&category2=$2&category3=$3 [L]