
/*****************************
* Template style changes
*****************************/
*{
    font-family: 'Montserrat', sans-serif;
}

/* ----- COLOURS ----- */
.c-intense-gold{
    color: #fbbb01;
}
.c-bright-blue{
    color: #007bff;
}
.c-baby-blue{
    color: #7ebcff;
}
.bg-mist-white{
    background: #f6f6f6 !important;
}


/* ----- Z-INDEX ------ */
.z-1{
    z-index: 1 !important;
}
.z-10{
    z-index: 10 !important;
}
.z-20{
    z-index: 20 !important;
}
.z-30{
    z-index: 30 !important;
}
.z-40{
    z-index: 40 !important;
}
.z-50{
    z-index: 50 !important;
}
.z-100{
    z-index: 100 !important;
}
.z-200{
    z-index: 200 !important;
}
.z-300{
    z-index: 300 !important;
}
.z-400{
    z-index: 400 !important;
}
.z-500{
    z-index: 500 !important;
}
.z-900{
    z-index: 900 !important;
}
.z-1000{
    z-index: 1000 !important;
}

.container-slider{
    margin-top: -210px;
}
/* ----- MENU GENERAL---- */

/*Menu Desktop*/

.header-top-contact-hover-color--page a:hover{
    color: #fbbb01;
}

.action-hover-color--page.header-action-link li a:hover {
    color: #1000c3;
}
.action-hover-color--page.header-action-link li a span {
    background: #1000c3;
}

.main-menu nav > ul > li > .show-effect {
    text-align: center;
    overflow: hidden;
/*    z-index: 2;*/
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: background-image 0.5s ease;
}
.main-menu nav > ul > li:hover > .show-effect{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #1000c3, red);
}

.main-menu nav > ul > li > .show-effect::after{
    content: '';
    width: 210%;
    position: absolute;
/*    z-index: 1;*/
    top: 0;
    left: calc(-100% - 250px);
    border-bottom: 118px solid rgba(107, 107, 107, 0.1);
    border-right: 100px solid transparent;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
}

.main-menu nav > ul > li:hover > .show-effect::after{
    left: 0;
}

.sub-menu .item-sub-menu:not(:last-child){
    margin-right: 30px;
}

.sub-menu .item-sub-menu > a{
    transform: scale(1.0);
    font-weight: 700;
    font-size: 15px;
    color: black;
}
.sub-menu .item-sub-menu > a:hover{
    transform: scale(1.1, 1.1);
    color: black !important;
}

.son-sub-menu .item-son-sub-menu{
    line-height: 2.5;
    list-style: initial;
    list-style-type: circle;
    margin-left: 20px;
}
.son-sub-menu .item-son-sub-menu > a{
    display: flex;
    color: #007bff;
    font-size: 15px;
}
.son-sub-menu .item-son-sub-menu > a:hover{
    transform: translateX(5px);
}

.time-trans-txt{
    transition-timing-function: ease-out ;
    transition-duration: 250ms ;
}

.time-trans-txt:hover{
    transition-timing-function: ease-out ;
    transition-duration: 100ms ;
}

/* ----- SLIDERS ----- */
.hero-single-slider-item.swiper-slide-active .hero-slider-content .title-time-one,
.hero-single-slider-item.swiper-slide-active .hero-slider-content .a-time-one {
    animation: fadeInUp 1s ease 0.3s 1 backwards !important;
}
.hero-single-slider-item.swiper-slide-active .hero-slider-content .a-time-two {
    animation: fadeInUp 1s ease 1s 1 backwards !important;
}

/*Menu Mobile*/

.offcanvas-mobile-menu-section{
    background: linear-gradient(to right, #2984d1, #6548e2) !important;
}

.offcanvas-menu li a {
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: inherit;
}
.offcanvas-menu li a:hover {
  color: #7ebcff;
}
.icon-menu-mobile{
    width: 10%;
    margin-right: 10px;
}
.offcanvas-menu .cont-link{
    display: flex;
    align-items: center;
}
.cont-link .offcanvas-menu-expand-icon i{
    padding: 0px 10px;
    font-size: 20px;
    color: white;
}
.mobile-contact-info .social-link li a:hover {
    color: #1000c3;
}


/* ----- CATEGORY - PRODUCT (PAGE) ----- */
.sort-tab-btn .nav-link.active {
    background: linear-gradient(to bottom, #1000c3, #ff6666) !important;
}
.accordion-item-header{
    justify-content: space-between;
    display: flex;
}
.accordion-item-header i{
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar-menu .accordion-category-list {
    display: none;
}
.rotate-90 {
  transform: rotate(90deg);
}

@media (min-width: 1000px){
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

@media (min-width: 1225px){
    .sliders-container-mbl{
        display: none;
    }
    .item-menu:nth-last-child(1) .sub-menu,
    .item-menu:nth-last-child(2) .sub-menu,
    .item-menu:nth-last-child(3) .sub-menu{
        right: 0% !important;
        left: inherit;
    }

    .hero-slider-content{
        top: 60%;
    }
}

@media (min-width: 1250px){
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media(max-width: 1225px){
    .hero-slider-content{
        top: 50%;
    }
}

.title-product{
    color: #24262b;
    font-size: 16px;
    font-weight: bold !important;
}
.title-product:hover{
    color: initial;
}
.content-data-product.no-empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-data-product.no-empty .price-product.no-empty{
    padding-right: 10px;
    border-right: 3px solid;
    border-image: linear-gradient(to bottom, #ff0000, #0000ff) 1 100%
}
.content-data-product.no-empty .price-product.no-empty del{
    display: block;
}
.content-data-product.empty .price-product.empty del{
    display: initial;
    padding: 8px;   
}
.content-data-product.empty .price-product.empty span{
    padding: 8px;
}
.content-data-product .price-product span{
    font-size: 17px;
    color: #1000c3;
    font-weight: bold;
}

.content-off::after{
    position: absolute; 
    content: attr(data-discount);
    color: black;
    bottom: 0;
    right: 0;
    top: 0;
    background: #ff6666;
    height: max-content;
    padding: 5px;
    font-weight: 500;
}

/*LOADING CONTENT BOX PAGE*/
.content-loading{
    position: absolute;
    top: 0;
    background-color: rgba(254, 254, 255, .65);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}
.loader-store {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid red;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader-store::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #4431DE;
    border-left: 4px solid transparent;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


/**/
@media (max-width: 550px) {
    .mobile-menu-logo .logo {
        width: 220px;
    }
}

@media (max-width: 450px) {
    .mobile-menu-logo .logo {
        width: 150px;
    }
}

@media (max-width: 380px) {
    .mobile-menu-logo .logo {
        width: 100px;
    }

    .header-action-link li a i{
        font-size: 15px;
    }

    .header-action-link li a span {
        font-size: 8px;
        width: 15px;
        height: 15px;
        line-height: 15px;
    }

    .offside-menu {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
