
/*****************************
* Template style changes
*****************************/
*{
    font-family: 'Montserrat', sans-serif;
}

/* ----- COLOURS ----- */
.c-p-deep-blue{
    color: #4431DE;
}
.c.p-coral{
    
}
.c-intense-gold{
    color: #fbbb01;
}
.c-bright-blue{
    color: #007bff;
}
.c-baby-blue{
    color: #7ebcff;
}
.c-gray{
    color: #777;
}
.bg-mist-white{
    background: #f6f6f6 !important;
}
.bg-p-deep-blue{
    background: #4431DE;
}


/* ----- Z-INDEX ------ */
.z-1{
    z-index: 1 !important;
}
.z-10{
    z-index: 10 !important;
}
.z-20{
    z-index: 20 !important;
}
.z-30{
    z-index: 30 !important;
}
.z-40{
    z-index: 40 !important;
}
.z-50{
    z-index: 50 !important;
}
.z-100{
    z-index: 100 !important;
}
.z-200{
    z-index: 200 !important;
}
.z-300{
    z-index: 300 !important;
}
.z-400{
    z-index: 400 !important;
}
.z-500{
    z-index: 500 !important;
}
.z-900{
    z-index: 900 !important;
}
.z-1000{
    z-index: 1000 !important;
}

.container-slider{
    margin-top: -197px;
}

.text-justify{
    text-align: justify !important;
}

.cursor-pointer{
    cursor: pointer  !important;
}

.box-session{
    display: flex;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 6px;
}
.box-session:focus-within{
    border: 1px solid #4431DE;
}
.box-session input{
    border: none !important;
}
.box-session i{
    margin-left: 10px;
}
.user-session button{
    font-size: 21px;
}
.user-session button:hover{
    color: #4431DE;
}

.nav-tabs .nav-session.active{
    color: #4431DE;
    font-weight: bold;
}

.valid-content{
    border: 1px solid #28a745 !important;
}
.invalid-content{
    border: 1px solid red !important;
}
/* ----- MENU GENERAL---- */

/*Menu Desktop*/

.header-top-contact-hover-color--page a:hover{
    color: #fbbb01;
}
.icon-menu-desktop{
    width: 45px;
}
.action-hover-color--page.header-action-link li a:hover {
    color: #4431DE;
}
.action-hover-color--page.header-action-link li a span {
    background: #4431DE;
}
.main-menu nav > ul > li > a > span {
    font-size: 13px;
}
.main-menu nav > ul > li > .show-effect {
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: background-image 0.5s ease;
}
.main-menu nav > ul > li:hover > .show-effect{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #1000c3, red);
}

.main-menu nav > ul > li > .show-effect::after{
    content: '';
    width: 210%;
    position: absolute;
    top: 0;
    left: calc(-100% - 250px);
    border-bottom: 118px solid rgba(107, 107, 107, 0.1);
    border-right: 100px solid transparent;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
}

.main-menu nav > ul > li:hover > .show-effect::after{
    left: 0;
}

.sub-menu .item-sub-menu:not(:last-child){
    margin-right: 30px;
}

.sub-menu .item-sub-menu > a{
    transform: scale(1.0);
    font-weight: 700;
    font-size: 14px;
    color: black;
}
.sub-menu .item-sub-menu > a:hover{
    transform: scale(1.1, 1.1);
    color: black !important;
}

.son-sub-menu .item-son-sub-menu{
    line-height: 2.5;
    list-style: initial;
    list-style-type: circle;
    margin-left: 20px;
}
.son-sub-menu .item-son-sub-menu > a{
    display: flex;
    color: #007bff;
    font-size: 14px;
}
.son-sub-menu .item-son-sub-menu > a:hover{
    transform: translateX(5px);
}

.time-trans-txt{
    transition-timing-function: ease-out ;
    transition-duration: 250ms ;
}

.time-trans-txt:hover{
    transition-timing-function: ease-out ;
    transition-duration: 100ms ;
}

/* ----- SLIDERS ----- */
.hero-single-slider-item.swiper-slide-active .hero-slider-content .title-time-one{
    animation: fadeInUp 1s ease 0.3s 1 backwards !important;
}

.hero-slider-active .swiper-pagination.active-color-store span.swiper-pagination-bullet-active {
    background: #6548e2 !important;
}
/*Menu Mobile*/

.offcanvas-mobile-menu-section{
    background: linear-gradient(to right, #2984d1, #4431DE) !important;
}

.offcanvas-menu li a {
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: inherit;
}
.offcanvas-menu li a:hover {
  color: #7ebcff;
}
.icon-menu-mobile{
    width: 10%;
    margin-right: 10px;
}
.offcanvas-menu .cont-link{
    display: flex;
    align-items: center;
}
.cont-link .offcanvas-menu-expand-icon i{
    padding: 0px 10px;
    font-size: 20px;
    color: white;
}
.mobile-contact-info .social-link li a:hover {
    color: #4431DE;
}

/* ----- CATEGORY - PRODUCT (PAGE) ----- */
.sort-tab-btn .nav-link.active {
    background: linear-gradient(to bottom, #1000c3, #ff6666) !important;
}
.accordion-item-header{
    justify-content: space-between;
    display: flex;
}
.accordion-item-header i{
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar-menu .accordion-category-list {
    display: none;
}
.rotate-90 {
  transform: rotate(90deg);
}
.col-adaptive{
    margin-top: 50px;
    padding: 0px;
    transition: all .25s ease;
}
.col-adaptive:hover{
    transform: scale(1.03);
}
.col-adaptive .product-default-single-item{
    margin-right: 8px;
    margin-left: 8px;
    box-shadow: 0 1px 3px rgba(68,49,222,0.5);
    border: none;
    border-radius: 15px;
    height: 100%;
    padding: 10px;
}
.col-adaptive .product-default-single-item:hover{
    box-shadow: 0 8px 20px rgba(68, 49, 222, 0.5);
}
.title-product{
    font-size: 15px;
    color: #24262b;
    font-weight: bold !important;
}
.title-product:hover{
    color: initial;
}
.content-data-product.no-empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-data-product.no-empty .price-product.no-empty{
    padding-right: 10px;
    border-right: 3px solid;
    border-image: linear-gradient(to bottom, #ff0000, #0000ff) 1 100%
}
.content-data-product.no-empty .price-product.no-empty del{
    display: block;
}
.content-data-product.single-list{
    justify-content: initial;
}
.content-data-product.empty .price-product.empty del{
    display: initial;
    padding: 8px;   
}
.content-data-product.empty .price-product.empty span{
    padding: 8px;
}
.content-data-product .price-product span{
    font-size: 17px;
    color: #1000c3;
    font-weight: bold;
}
.n-stock{
    background: red;
    width: max-content;
    padding: 5px;
    border-radius: 3px;
    color: white;
}
.content-off::after{
    position: absolute; 
    content: attr(data-discount);
    color: #FFF;
    font-size: 16px;
    bottom: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #F15555, #ff6666) !important;
    height: max-content;
    padding: 3px 15px;
    font-weight: 600;
    border-radius: 3px;
}

/*LOAD MORE PRODRUCTS*/
.page-pagination .load-more{
    color: #FFF;
    font-weight: bold;
    background: red;
    padding: 5px 12px;
    border-radius: 3px;
    transform: scale(1.0);
}
.page-pagination .load-more:hover{
    transform: scale(1.1, 1.1);
}

.content-check-brand{
    max-height: 175px;
    overflow: auto;
}

/*LOADING CONTENT BOX PAGE*/
.content-loading{
    position: absolute;
    top: 0;
    background-color: rgba(254, 254, 255, .65);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
}
.loader-store {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid red;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader-store::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #4431DE;
    border-left: 4px solid transparent;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.cont-load-more{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(162, 162, 163, 0.65);
    display: none;
    z-index: 20;
}
.cont-load-more .loader-more-data {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/* ----- PRODUCT (PAGE) ----- */
.product-brand-name span{
    font-weight: bold;
    font-size: 18px;
}
.product-content-validation{
    padding-top: 20px;
    margin-top: 20px;
    gap: 20px;
    border-top: 1px solid #E4E4E4;
}
.product-content-validation span{
    color: #ff6666;
    font-size: 17px;
    font-weight: bold;
}
.content-value-product.no-empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-value-product.no-empty .product-price-data.no-empty{
    padding-right: 10px;
    border-right: 3px solid;
    border-image: linear-gradient(to bottom, #ff0000, #0000ff) 1 100%
}
.content-value-product.no-empty .product-price-data.no-empty del{
    font-size: 14px; 
    display: block;
}
.content-value-product.empty .product-price-data.empty del{
    display: block;
    padding: 8px;  
}
.content-value-product.empty .product-price-data.empty span{
    padding: 8px;
}
.content-value-product .product-price-data span{
    font-size: 22px;
    color: #4431DE;
    font-weight: bold;
}

.product-btn-store a{
    background: #24262b;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    border-radius: 3px;
    margin-top: 7px;
    font-weight: 700;
    padding: 11px 30px;
    gap: 10px;
    width: max-content;
}
.product-btn-store i{
    font-size: 20px;
}
.product-btn-store .btn-buy-whatsapp{
    background: #25D366 !important;
    color: #000 !important;
}

/* ----- PAYMENT PROCESSES (PAGE) ----- */
.checkout-data_buy{
    border: 1px solid #ededed;
    border-radius: 3px;
}
.checkout-data_buy .title-data_buy h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    line-height: 36px;
    padding: 5px 15px;
    background: #333;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 0;
}

.purchase-summary{
    border: 1px solid #ededed;
    border-radius: 3px;
}
.purchase-summary h3{
    color: #ffffff;
    line-height: 36px;
    padding: 5px 15px;
    background: #333;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px 3px 0px 0px;
}
/* ----- DIFFFERENT RESPONSIVE ----- */
@media (max-width: 400px) {
    .header-action-link li a i{
        font-size: 17px;
    }
    .header-action-link li a span {
        font-size: 10px;
        width: 17px;
        height: 17px;
        line-height: 17px;
    }
    .offside-menu {
        width: 43px;
        height: 43px;
        line-height: 43px;
    }
    .title-product{
        font-size: inherit;
    }
    .product-default-single-item .content{
        font-size: 10px;
    }
    .content-data-product .price-product span{
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .content-value-product{
        margin-top: 20px;
    }
}
@media (max-width: 650px) {
    .f-dir-colum-res{
        flex-direction: column !important;
    }
    .f-dir-colum-res .mobile-right-side{
        margin-top: 10px !important;
    }
}
@media (min-width: 750px){
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
@media (max-width: 750px){
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (max-width: 768px) {
    .btn-outline-store{
        font-size: 15px;
        padding: 3px 10px;
    }
    .product-list-img-link {
        width: initial;
        margin: auto;
    }
    .product-list-content{
        text-align: center;
        padding-bottom: 10px;
    }
    .content-data-product.single-list {
        justify-content: center;
    }
    .n-stock{
        margin-right: auto;
        margin-left: auto;
    }
    .coupon_code{
        margin-top: 60px;
    }
}
@media(min-width: 992px){
    .product-details-section, .cart-section, .empty-cart-section{
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
@media(max-width: 992px){
    .footer-bg{
        margin-top: 60px ;
    }
    .variable-single-item{
        width: max-content;
        margin: auto;
        text-align: center;
    }
    .mb-small-3{
        margin-bottom: 30px !important;
    }
    .product-content-validation{
        text-align: center;
    }
}
@media (min-width: 1100px){
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
@media (min-width: 1225px){
    .product-content-validation span{
        font-size: 20px;
    }
    .content-value-product .product-price-data span{
        font-size: 25px;
    }
    .content-value-product.no-empty .product-price-data.no-empty del{
        font-size: 16px;
    }
    .product-content-buy{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}
@media (max-width: 1225px){
    .product-btn-store{
        width: max-content;
        margin: auto;
    }
}
@media(max-width: 1250px){
    .hero-slider-content{
        top: 50%;
    }
    .btn-outline-store{
        font-size: 16px;
        padding: 10px 25px;
    }
}
@media (min-width: 1250px){
    .sliders-container-mbl{
        display: none;
    }
    .item-menu:nth-last-child(1) .sub-menu,
    .item-menu:nth-last-child(2) .sub-menu,
    .item-menu:nth-last-child(3) .sub-menu{
        right: 0% !important;
        left: inherit;
    }

    .hero-slider-content{
        top: 60%;
    }
}
@media(min-width: 1270px){
    .product-content-validation{
        gap: 100px;
    }
}
@media (max-width:1365px){
    .main-menu nav > ul > li > a > span
    {
        font-size: 12px;
    }
    .sub-menu .item-sub-menu > a
    .son-sub-menu .item-son-sub-menu > a{
        font-size: 13px;
    }
}
