@media (max-width: 550px) {
    .mobile-menu-logo .logo {
        width: 220px;
    }
}

@media (max-width: 450px) {
    .mobile-menu-logo .logo {
        width: 150px;
    }
}

@media (max-width: 380px) {
    .mobile-menu-logo .logo {
        width: 100px;
    }
}