/* LOGIN FLIPPED */
.login{
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    min-height: 250px; 
}

.login .login-form ,.login .forget-form{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}

.login .forget-form {
    opacity: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.login.flipped {
    min-height: 225px;
}

.login.flipped .login-form{
    opacity: 0;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}

.login.flipped .forget-form{
    opacity: 1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}   

/* LOADING */
.loading-gif{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999;
    background-color: rgba(254, 254, 255, .65);
    display: none;
}

/*MODAL CLASS*/

.headerRegister{
    background: #1CA9E1;
    color: #fff;
}

.headerUpdate{
    background: rgb(68, 212, 116);
    color: #fff;
}

.m-hgt-txarea{
    max-height: 80px;
    min-height: 80px;
}

/* MODAL CLASS IMG UPLOAD */

.prevImgUpload {
    display: flex;
    justify-content: space-between;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}

.prevImgUpload label{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.prevImgUpload img{
    width: 100%;
    height: 100%;
}

.upimg, .notBlock{
    display: none !important;
}

.errorArchive{
    font-size: 16px;
    font-family: arial;
    color: #cc0000;
    text-align: center;
    font-weight: bold; 
    margin-top: 10px;
}

.delImgUpload{
    color: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
}

.prevIcon{
    width: 64px;
    height: 64px;
    background: url(../../admin/files/images/icon.png);
    background-size: cover;
    background-position: 50% 50%;
}

.prevPhoto {
    width: 170px;
    height: 90px;
    background: url(../../admin/files/images/banner-small.png);
    background-size: cover;
    background-position: 50% 50%;
}

.prev_lgbanner{
    width: 130px;
    height: 180px;
    background: url(../../admin/files/images/banner-large.png);
    background-size: cover;
    background-position: 50% 50%;
}

.prevSliderMbl {
    width: 160px;
    height: 110px;
    background: url(../../admin/files/images/slider-mobile.png);
    background-size: cover;
    background-position: 50% 50%;
}

.prevSliderDst {
    width: 250px;
    height: 130px;
    background: url(../../admin/files/images/slider-desktop.png);
    background-size: cover;
    background-position: 50% 50%;
}

/* UPLOAD IMAGES PRODUCT */
#containerImages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#containerImages > div{
    margin-right: 10px;
    margin-bottom: 8px;
}

.prevImage{
    border: 1px solid #CCC;
    width: 120px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevImage img{
    width: 100%;
}

.inputUploadfile{
    display: none;
}

.btnUploadfile, .btnDeleteImage{
    border: 0;
    background-color: #009688;
    text-align: center;
    padding: 2px 3px;
    color: #FFF;
    font-size: 9pt;
    cursor: pointer;
    width: 100%;
}

.btnDeleteImage{
    background-color: #dc3545;
}

.prevImage .loading{
    width: 40px;
    height: 40px;
}

/* .required{
    color: red;
} */
